<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "mpk", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 Rozkład <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><%= link_to "Rozkład", timetables_path %></li>
                 <li><%= link_to "Przystanki", stops_path %></li>
                 <li><%= link_to "Linie", lines_path %></li>
               </ul>
          </li>
        <% end %>

        <% if logged_in? && current_user.admin? %>
           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 Zarządzaj <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><%= link_to "Rozkład", timetables_path %></li>
                 <li><%= link_to "Przystanki", stops_path %></li>
                 <li><%= link_to "Linie", lines_path %></li>
                 <li><%= link_to "Odcinki", distances_path %></li>
                 <li><%= link_to "Trasa", routes_path %></li>
               </ul>
          </li>
        <% end %>


        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Konto <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profil", current_user %></li>
              <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
              <li><%= link_to "Pomoc", help_path %></li>
              <li><%= link_to "Użytkownicy", users_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Wyloguj", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Zaloguj", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
